@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,400;0,500;1,500&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*,
::before,
::after { margin: 0; }

.wrapper {
  background: #e5e5e5;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.title {
  padding: 30px 0 10px 10px;
  font-weight: 400;
}

.description {
  font-family: sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

.form-container {
  padding: 10px 20px 10px 20px;
}

input[type=email],
input[type=text] {
  width: 100%;
  border: 1px solid red;
  font-size: 90%;
  box-sizing: border-box;
}
